.home-section {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -14px;
  margin-bottom: -50px;
  min-height: 500px;
}